@import '../../css/var/var.scss';

.ContentUser{
  display: flex;
}

.ContentUser_content{
  width: 100%;
  position: relative;
}

.shade {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000085;
  opacity: 0;
  z-index: -1;
  transition: all .5s ease-in;

  &.active {
    opacity: 1;
    z-index: 1;
  }
}

// .padding_content {
//   padding: 2vw;
// }