@import '../../css/var/var.scss';

.ContentUser{
  display: flex;
  background: $lightBlue;
}

.ContentUser_content{
  width: 80vw;
  position: relative;

  > div:not(.shade) {
    margin: 0 2.5vw;
  }
}