@import '../../css/styles.scss';

.confirmation {
  margin: auto;

  h1 {
    font-family: $primaryFont;
    color: $purple;
    margin: 3rem 0;
    font-size: 1.25rem;
    text-align: center;

    @media screen and (min-width: 1024px) {
      margin: 10rem 0 5rem;
    }
  }

  .confirmation_icon {
    width: fit-content;
    margin: auto auto 5rem;
    
    &::before {
      content: "\2713";
      display: block;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      color: $purple;
      font-size: 5rem;
      font-weight: 200;
      width: fit-content;
      border: 3px solid;
      border-radius: 50%;
      padding: 2.5rem 3rem;

      @media screen and (min-width: 1024px) {
        font-size: 10rem;
        padding: 3rem 4rem;
      }
    }
  }

  .primary_btn {
    margin: auto 1rem;

    @media screen and (min-width: 768px) {
      margin: auto;
    }
  }
}