@import '../../css/styles.scss';

.react-calendar {
  width: 90% !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none !important;
  border-radius: 20px;
  margin: 3rem 1rem 0;

  @media screen and (min-width: 768px) {
    margin: 3rem auto 0;
  }

  @media screen and (min-width: 1024px) {
    margin: 2rem 2.8125rem 0;
  }

  .react-calendar__tile {
    margin: .875rem 0;
    overflow: visible !important;
    background-color: unset !important;
    font-family: $primaryFont;

    abbr {
      border-radius: 50%;

      @media screen and (min-width: 1024px) {
        padding: 1rem .9rem;
      }

      font-size: .875rem;
    }
  }

  .react-calendar__tile--now {
    abbr {
      background-color: #ffff76;
    }
  }

  .react-calendar__tile--active {
    abbr {
      background-color: $purple;
    }
  }

  .react-calendar__month-view__days__day--weekend {
    color: #A0A0A0;
  }

  abbr[title] {
    text-decoration: none;
    font-size: .875rem;
    font-weight: 400;
  }

  .react-calendar__navigation {
    padding: 3rem 0;
    button {
      flex-grow: unset !important;

      span {
        font-size: 1.5rem;
        text-transform: capitalize;
      }
    }
  }

  .react-calendar__month-view__weekdays__weekday {
    padding: 0;
    white-space: pre;

    @media screen and (min-width: 1024px) {
      padding: 0.5em;
    }
}
}