// FONT variable
$primaryFont: 'Montserrat', sans-serif;

// COLORS
$purple: #4461f2;
$lightBlue: #EAF0F7;
$lightPurple: #b1bdf7;

$black: #000000;
$grey: #a0a0a0;
$lightGrey: #E2E2E2;

$red: #ff7474;
$orange: #ffc27c;
$green: #72ffa3;