@import 'react-big-calendar/lib/sass/styles';
@import '../../css/styles.scss';


// Calendar component
.rbc-calendar {
  font-family: $primaryFont;
  margin-left: 5vw;

  div, .rbc-month-row + .rbc-month-row {
    border: none;
  }

  .rbc-toolbar {
    width: 100%;
    position: relative;

    @media screen and (min-width: 1024px) {
      width: 25%;
    }

    .rbc-toolbar-label {
      text-transform: capitalize;
      font-size: 1.25rem;
      font-weight: 600;
      text-align: left;
      margin-top: 2rem;
    }
  }

  .rbc-btn-group:first-of-type {
    button {
      font-size: 0;
      border: none;

      &:before {
        content: "\2039";
        font-size: 1.5rem;
      }

      &:first-of-type {
        display: none;
      }

      &:last-of-type {
        position: absolute;
        right: 0;

        &::before {
          content: "\203A";
        }
      }
    }
  }

  .rbc-toolbar-label + .rbc-btn-group {
    display: none;
  } 

  .rbc-header, .rbc-toolbar-label {
    &:after {
      content: "";
      width: 5rem;
      height: 3px;
      background-color: $purple;
      display: block;
      margin-top: 1.5rem;
    }
  }

  .rbc-header {
    text-transform: capitalize;
    font-weight: 500;
    text-align: left;
    border-left: none;
    margin: 3rem 0;
  }

  .rbc-day-bg {
    opacity: 0;
  }
  
  .rbc-date-cell {
    text-align: left;
    z-index: 1;
    text-indent: 2.5%;
    height: 2rem;
    padding-top: 0.5rem;
  }

  .rbc-event {
    background-color: transparent;
    color: $purple;
    padding-left: 0;

    &::before {
      content: "";
      background-color: $purple;
      width: 2rem;
      height: 2rem;
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 0;
    }
  }
}


// ModalBooking component
.modalBooking {
  font-family: $primaryFont;

  .modalBooking_wrapper {
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    bottom: auto;
    width: 100%;
    padding: 2rem;
    z-index: 5;
    transform: translateY(-100%);
    transition: all .5s ease-in-out;

    @media screen and (min-width: 1024px) {
      position: absolute;
      width: 15vw;
      bottom: 0;
      transform: translateX(100%);
    }
  }

  &.active {
    .modalBooking_wrapper {
      transform: translateY(0);

      @media screen and (min-width: 1024px) {
        transform: translateX(0);
      }
    }

    .shade {
      opacity: 1;
      z-index: 4;
    }
  }

  h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 2rem 0;
  }

  .modalBooking_date {
    text-transform: capitalize;
    padding-bottom: 1rem;
  }

  .modalBooking_info_wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .modalBooking_class, .modalBooking_date {
    color: $purple;
  }

  .modalBooking_class {
    border-bottom: 2px solid $purple;
    line-height: 2;
    width: 3rem;
  }

  .modalBooking_close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}