@import '../../css/var/var.scss';

.ElementMenu{
  color: $lightGrey;
  font-weight: 500;
  border-radius: 10px 0 0 10px;
  font-family: $primaryFont;
  font-size: .875rem;

  @media screen and (min-width: 1024px) {
    color: $black;
    padding: 15px 0 15px 30px;
    font-size: 1rem;
  }

  &::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: $lightGrey;
    margin: 0 auto .5rem;

    @media screen and (min-width: 1024px) {
      content: none;
    }
  }

  &.active{
    color: $purple;

    &::before {
      background-color: $purple;
    }

    @media screen and (min-width: 1024px) {
      background: $purple;
      color: #FFF;
    }
  }
}