@import "../../css/var/var.scss";

// SideBar component
.SideBar {
  width: 100vw;
  height: 13vh;
  bottom: 0;
  position: fixed;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.06);
  background: #FFF;
  z-index: 1;
  padding: .5rem 0.5rem 0;
  border-radius: 40px 40px 0 0;
  box-shadow: 0px 0px 12px #77777733;
  
  @media screen and (min-width: 768px) {
    height: 8vh;
    padding: 1rem;
  }

  @media screen and (min-width: 1024px) {
    width: 20vw;
    height: 100vh;
    bottom: auto;
    position: relative;
    padding: 30px 0;
    border-radius: 0;
    box-shadow: 0px 3px 12px #4D4D4D29;
  }

  img{
    height: 120px;
  }

  > div:first-child {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      text-align: center;
    }
  }

  > div:nth-of-type(2) {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 1024px) {
      display: block;
      margin: 30px 0 0 auto;
      width: 90%;
    }
  }

  a {
    color: #4461f2;
    font-weight: 600;

    &:first-of-type .ElementMenu::before {
      mask: url('../../assets/booking_icon.svg') no-repeat center;
    }

    &:nth-of-type(2) .ElementMenu::before {
      mask: url('../../assets/calendar_icon.svg') no-repeat center;
    }

    &:last-of-type .ElementMenu::before {
      mask: url('../../assets/dashboard_icon.svg') no-repeat center;
    }
  }

  > div:nth-of-type(3) {
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: $primaryFont;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      margin-right: 10px;
      height: 20px;
    }
    a {
      color: #4461f2;
      font-weight: 600;
    }
  }
}

// ElementMenu component
.ElementMenu{
  color: $lightGrey;
  font-weight: 500;
  border-radius: 10px 0 0 10px;
  font-family: $primaryFont;
  font-size: .875rem;

  @media screen and (min-width: 1024px) {
    color: $black;
    padding: 15px 0 15px 30px;
    font-size: 1rem;
  }

  &::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-color: $lightGrey;
    margin: 0 auto .5rem;

    @media screen and (min-width: 1024px) {
      content: none;
    }
  }

  &.active{
    color: $purple;

    &::before {
      background-color: $purple;
    }

    @media screen and (min-width: 1024px) {
      background: $purple;
      color: #FFF;
    }
  }
}