@import "../../css/var/var.scss";

.SideBar {
  width: 20vw;
  height: 100vh;
  padding: 30px 0;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.06);
<<<<<<< HEAD
  position: relative;
  img {
=======
  background: #FFF;
  img{
>>>>>>> 31fb8a675fd5e0e27b20e44a332e144c2383b636
    height: 120px;
  }
  > div:first-child {
    text-align: center;
  }
  > div:nth-of-type(2) {
    width: 90%;
    margin: 30px 0 0 auto;
  }
   a {
      color: #4461f2;
      font-weight: 600;
    }
  > div:nth-of-type(3) {
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-family: $primaryFont;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      margin-right: 10px;
    }
    a {
      color: #4461f2;
      font-weight: 600;
    }
  }
}
