@import '../../css/var/var.scss';

.AddSalle{
  height: auto;
  width: 100%;
  background: #FFF;
  padding: 45px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.06);
  border-radius: 14px;
  z-index: 2;

  @media screen and (min-width: 768px) {
    width: 90%;
  }

  @media screen and (min-width: 1024px) {
    width: 600px;
    position: absolute;
  }

  &.visible{
    display: block;
  }
  form{
    display: flex;
    flex-direction: column;
  }
  input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    font-family: $primaryFont;
    margin-top: 10px;
    margin-bottom: 20px;
    &::placeholder{
      font-family: $primaryFont;
    }
  }
}

.AddSalle_close{
  position: absolute;
  top: 20px;
  right: 20px;
  &:hover{
    cursor: pointer;
  }
}