@import '../../css/var/var.scss';

.Dashboard_salles{

  @media screen and (min-width: 1024px) {
    height: 70vh;
  }

  >a{
    height: 170px;
    margin-bottom: 2rem;
  }

  .SalleItem {
    height: 100%;
  }
}

.Dashboard_floors{
  margin-top: 3rem;

  @media screen and (min-width: 1024px) {
    position: absolute;
    bottom: 30px;
    right: 0;
  }
}

.Dashboard {
  .primary_btn {
    margin: 2rem 1rem;

    @media screen and (min-width: 375px) {
      margin: 2rem auto;
    }

    @media screen and (min-width: 1024px) {
      margin: auto;
    }
  }
}